.modal {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-out;
}

.modal::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease-out;
  z-index: 0;
}
