@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
    -webkit-transform: translateX(calc(-250px * 9));
    -moz-transform: translateX(calc(-250px * 9));
    -ms-transform: translateX(calc(-250px * 9));
    -o-transform: translateX(calc(-250px * 9));
  }
}

.slider {
  position: relative;
  height: 100px;
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}
.sliderTrack {
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 18);
}

.slide {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100px;
  width: 250px;
}
