@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #272730;
  --background-secondary: #131315;
  --background-tertiary: #676769;
  --accent: hsl(15, 85%, 48%);
  --body: #0d0d0d;
  --glassBg: rgba(27, 27, 37, 0.5);
  --glassBgTint: rgba(27, 27, 37, 0.25);
  --custom-shadow: #040202;
}

[data-theme="light"] {
  --foreground: #040202;
  --background: #ffffff;
  --background-secondary: #f5f5f7;
  --background-tertiary: #f7f7f7;
  --accent: hsl(15, 85%, 48%);
  --body: #f3f3f3;
  --glassBg: rgba(255, 255, 255, 0.5);
  --glassBgTint: rgba(255, 255, 255, 0.25);
  --custom-shadow: rgb(0 0 0 / 0.1);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      var(--background) 1px
    );
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    font-size: 14px;
    line-height: 14px;
    z-index: 99;
  }

  footer::before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--accent);
    opacity: 0.2;
  }

  .spinner {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    animation: spinner 10s infinite ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: spinner 10s infinite ease-in-out;
  }

  @media screen and (min-width: 1024px) {
    .spinner {
      top: 50%;
      left: 50%;
    }
  }

  .spinner > div {
    background-color: var(--background);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid var(--accent);
  }

  .spinner div:nth-of-type(1) {
    transform: translateZ(-30px) rotateY(180deg);
    -webkit-transform: translateZ(-30px) rotateY(180deg);
    -moz-transform: translateZ(-30px) rotateY(180deg);
    -ms-transform: translateZ(-30px) rotateY(180deg);
    -o-transform: translateZ(-30px) rotateY(180deg);
  }

  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }

  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }

  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }

  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }

  .spinner div:nth-of-type(6) {
    transform: translateZ(30px);
    -webkit-transform: translateZ(30px);
    -moz-transform: translateZ(30px);
    -ms-transform: translateZ(30px);
    -o-transform: translateZ(30px);
  }

  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }

  .loader-spinner {
    width: 56px;
    height: 56px;
    border: 11.2px var(--accent) double;
    border-left-style: solid;
    border-radius: 50%;
    animation: loaderspinner 0.75s infinite linear;
    -webkit-animation: loaderspinner 0.75s infinite linear;
  }

  @keyframes loaderspinner {
    to {
      transform: rotate(360deg);
    }
  }
}
