@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --foreground: #ffffff;
    --foreground-shade: rgba(255, 255, 255, 0.5);
    --background: rgb(39, 39, 48);
    --background-secondary: rgb(19, 19, 30);
    --background-tertiary: #676769;
    --arbxz-accent: hsl(15, 85%, 48%);
    --accent-2: #def861;
    --body: #0d0d0d;
    --glassBg: rgba(27, 27, 37, 0.5);
    --glassBgInvert: rgba(255, 255, 255, 0.5);
    --glassBgTint: rgba(27, 27, 37, 0.25);
    --custom-shadow: rgba(4, 2, 2, 0.6);
    --text-active: #03dac6;
    --color-shadow: rgba(0, 113, 227, 0.3);

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  [data-theme="light"] {
    --foreground: rgb(4, 2, 2);
    --foreground-shade: rgba(4, 2, 2, 0.8);
    --background: #ffffff;
    --background-secondary: #f5f5f7;
    --background-tertiary: #f7f7f7;
    --arbxz-accent: hsl(15, 85%, 48%);
    --accent-2: #def861;
    --body: #f3f3f3;
    --glassBg: rgba(255, 255, 255, 0.5);
    --glassBgInvert: rgba(27, 27, 37, 0.5);
    --glassBgTint: rgba(255, 255, 255, 0.25);
    --custom-shadow: rgb(0 0 0 / 0.1);
    --text-active: #0071e3;
    --color-shadow: rgb(0 0 0 / 0.1);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .gradient-text {
    background-image: linear-gradient(90deg, #0071e3, #6121c9);
    background-clip: text;
    color: transparent;
  }
  .gradient {
    background-color: linear-gradient(90deg, #0071e3, #6121c9);
  }
}

@layer components {
  .spinner {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    animation: spinner 10s infinite ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: spinner 10s infinite ease-in-out;
  }

  @media screen and (min-width: 1024px) {
    .spinner {
      top: 50%;
      left: 50%;
    }
  }

  .spinner > div {
    background-color: var(--accent);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid var(--arbxz-accent);
  }

  .spinner div:nth-of-type(1) {
    transform: translateZ(-30px) rotateY(180deg);
    -webkit-transform: translateZ(-30px) rotateY(180deg);
    -moz-transform: translateZ(-30px) rotateY(180deg);
    -ms-transform: translateZ(-30px) rotateY(180deg);
    -o-transform: translateZ(-30px) rotateY(180deg);
  }

  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }

  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }

  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }

  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }

  .spinner div:nth-of-type(6) {
    transform: translateZ(30px);
    -webkit-transform: translateZ(30px);
    -moz-transform: translateZ(30px);
    -ms-transform: translateZ(30px);
    -o-transform: translateZ(30px);
  }

  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }

  .loader-spinner {
    width: 56px;
    height: 56px;
    border: 11.2px var(--accent) double;
    border-left-style: solid;
    border-radius: 50%;
    animation: loaderspinner 0.75s infinite linear;
    -webkit-animation: loaderspinner 0.75s infinite linear;
  }

  @keyframes loaderspinner {
    to {
      transform: rotate(360deg);
    }
  }
}
